---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/133
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"32cf5-5AQnq24vxOjNeULZo6nxjNNanqs"
      Function-Execution-Id:
      - vp6a78w4arsp
      X-Cloud-Trace-Context:
      - 1dc4f44c3c231a6f5a35b94358da30ce
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - es-US,es-419;q=0.9,es;q=0.8
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"run-away","url":"https://pokeapi.co/api/v2/ability/50/"},"is_hidden":false,"slot":1},{"ability":{"name":"adaptability","url":"https://pokeapi.co/api/v2/ability/91/"},"is_hidden":false,"slot":2},{"ability":{"name":"anticipation","url":"https://pokeapi.co/api/v2/ability/107/"},"is_hidden":true,"slot":3}],"base_experience":65,"cries":{"latest":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/133.ogg","legacy":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/legacy/133.ogg"},"forms":[{"name":"eevee","url":"https://pokeapi.co/api/v2/pokemon-form/133/"}],"game_indices":[{"game_index":102,"version":{"name":"red","url":"https://pokeapi.co/api/v2/version/1/"}},{"game_index":102,"version":{"name":"blue","url":"https://pokeapi.co/api/v2/version/2/"}},{"game_index":102,"version":{"name":"yellow","url":"https://pokeapi.co/api/v2/version/3/"}},{"game_index":133,"version":{"name":"gold","url":"https://pokeapi.co/api/v2/version/4/"}},{"game_index":133,"version":{"name":"silver","url":"https://pokeapi.co/api/v2/version/5/"}},{"game_index":133,"version":{"name":"crystal","url":"https://pokeapi.co/api[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/eevee
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aada-uS1bEDWQVkP4cojJicQAKeuX6Y8"
      Function-Execution-Id:
      - s1v6zt7nnfft
      X-Cloud-Trace-Context:
      - 8d6cab2703a7f4d8815fdaebf9e990ec
      X-Country-Code:
      - US
      X-Or[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/type/normal
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"72bd-DYOECj9vF+T8MSYBqyKcy0aJ29w"
      Function-Execution-Id:
      - vp6a765b56qv
      X-Cloud-Trace-Context:
      - ff804a06e2e0ccd3da304df213e2f17b
      X-Country-Code:
      - US
      X-Orig-Accept-[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/evolution-chain/67/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2145-lb4csvm06icrv7/JicRRnhUumpo"
      Function-Execution-Id:
      - 336jy8kj4iik
      X-Cloud-Trace-Context:
      - 73eabdd067f48c823b52392fc2803608
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"baby_trigger_item":null,"chain":{"evolution_details":[],"evolves_to":[{"evolution_details":[{"gender":null,"held_item":null,"item":{"name":"water-stone","url":"https://pokeapi.co/api/v2/item/84/"},"known_move":null,"known_move_type":null,"location":null,"min_affection":null,"min_beauty":null,"min_happiness":null,"min_level":null,"needs_overworld_rain":false,"party_species":null,"party_type":null,"relative_physical_stats":null,"time_of_day":"","trade_species":null,"trigger":{"name":"use-item","url":"https://pokeapi.co/api/v2/evolution-trigger/3/"},"turn_upside_down":false}],"evolves_to":[],"is_baby":false,"species":{"name":"vaporeon","url":"https://pokeapi.co/api/v2/pokemon-species/134/"}},{"evolution_details":[{"gender":null,"held_item":null,"item":{"name":"thunder-stone","url":"https://pokeapi.co/api/v2/item/83/"},"known_move":null,"known_move_type":null,"location":null,"min_affection":null,"min_beauty":null,"min_happiness":null,"min_level":null,"needs_overworld_rain":false,"party_species":null,"party_type":null,"relative_physical_stats":null,"time_of_day":"","trade_species":null,"trigger":{"name":"use-i[...]
[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/vaporeon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ad15-UW8Mex+Tvc+TLltU/Tqpm6WHOLU"
      Function-Execution-Id:
      - wbus6wjmtvw1
      X-Cloud-Trace-Context:
      - 26d06f9964e054e68776cfd9a33a7330
      X-Country-Code:
      - US
      X[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/jolteon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ae69-pHLX48nq95mQZ5+TD8WkjtwQLfc"
      Function-Execution-Id:
      - r5ruuuz5spmf
      X-Cloud-Trace-Context:
      - 6c10674f4d0b13dc1db8c1b7f175284a
      X-Country-Code:
      - US
      X-[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/flareon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ae55-3Z6wd+WE/KkVa+j0ntrT5fyFoCc"
      Function-Execution-Id:
      - mm17bf0nk49r
      X-Cloud-Trace-Context:
      - 3d39209af42dfa40100ea6c6653378ee;o=1
      X-Country-Code:
      - US
    [...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/espeon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9242-HvQCzuEx0eWrXoOom6ng5jNgP2E"
      Function-Execution-Id:
      - ns8rnp63o76m
      X-Cloud-Trace-Context:
      - c7a6fd3858b3a4030e98762f64e45c8f
      X-Country-Code:
      - US
      X-O[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/umbreon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9332-j9+4bm/u9eBcVA+biO8QOflJCBs"
      Function-Execution-Id:
      - vc6akzf9binl
      X-Cloud-Trace-Context:
      - ac10539f572c8f1045b6c86ab582550c
      X-Country-Code:
      - US
      X-[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/leafeon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"84fd-JkI8M3nxBSLQIVREscs50iyrieg"
      Function-Execution-Id:
      - 0v5fy688s0t6
      X-Cloud-Trace-Context:
      - 0165cbef1e06cf19f8a404b5009f0554
      X-Country-Code:
      - US
      X-[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/glaceon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"83e8-WefMb2MGGTKd5KOP6Oy5h86ggXo"
      Function-Execution-Id:
      - xrwtx1heujfs
      X-Cloud-Trace-Context:
      - 3707bc39f4d257aa42ac666d60aa2264
      X-Country-Code:
      - US
      X-[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/sylveon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7823-Wjr8XvtJyKupEWovJEesJmJpEj0"
      Function-Execution-Id:
      - j3c2p55arl5p
      X-Cloud-Trace-Context:
      - 28d47842d384134c32225996498433b4
      X-Country-Code:
      - US
      X-[...]
