---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3e11a-G2lY+0OGuExI2hPid8lWiZKzYZ4"
      Function-Execution-Id:
      - o9xvhhtoc4gp
      X-Cloud-Trace-Context:
      - e0517469424af41b4751ea719e6708a7
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - en-US,en;q=0.9
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"overgrow","url":"https://pokeapi.co/api/v2/ability/65/"},"is_hidden":false,"slot":1},{"ability":{"name":"chlorophyll","url":"https://pokeapi.co/api/v2/ability/34/"},"is_hidden":true,"slot":3}],"base_experience":263,"cries":{"latest":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/3.ogg","legacy":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/legacy/3.ogg"},"forms":[{"name":"venusaur","url":"https://pokeapi.co/api/v2/pokemon-form/3/"}],"game_indices":[{"game_index":154,"version":{"name":"red","url":"https://pokeapi.co/api/v2/version/1/"}},{"game_index":154,"version":{"name":"blue","url":"https://pokeapi.co/api/v2/version/2/"}},{"game_index":154,"version":{"name":"yellow","url":"https://pokeapi.co/api/v2/version/3/"}},{"game_index":3,"version":{"name":"gold","url":"https://pokeapi.co/api/v2/version/4/"}},{"game_index":3,"version":{"name":"silver","url":"https://pokeapi.co/api/v2/version/5/"}},{"game_index":3,"version":{"name":"crystal","url":"https://pokeapi.co/api/v2/ve[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/3/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"79d9-q98v/7TjIz5eFvKcsV0xwZ7g8r8"
      Function-Execution-Id:
      - n4l9j958818l
      X-Cloud-Trace-Context:
      - e7edac9e724903c56d110a117f30cb8e;o=1
      X-Country-Code:
      - US
      X-O[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/ability/65/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"55cf-bVptrGeSTUrgAykbGqSXNSF2wZ4"
      Function-Execution-Id:
      - 0vv1kcxngcze
      X-Cloud-Trace-Context:
      - d933ae5f5f56699076f1675743ac4f46
      X-Country-Code:
      - US
      X-Orig-Accept-[...]
[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/type/grass
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"508e-WCd3scudIiQpeXJKVieiXRZBKIA"
      Function-Execution-Id:
      - pzpammqv2ivt
      X-Cloud-Trace-Context:
      - 5978ddbadf3797f95e30c8c104fa1ec4
      X-Country-Code:
      - US
      X-Orig-Accept-L[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/type/poison
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3b51-R5CuEllN2prPrNstmbXFqtl8+nQ"
      Function-Execution-Id:
      - ltnx671ej193
      X-Cloud-Trace-Context:
      - 72846088aeb35cc14f58161771ca085a
      X-Country-Code:
      - US
      X-Orig-Accept-[...]
