---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3e11a-G2lY+0OGuExI2hPid8lWiZKzYZ4"
      Function-Execution-Id:
      - h4xwj91x4akn
      X-Cloud-Trace-Context:
      - 393bfe5056221196a3b85611cf569dab;o=1
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"overgrow","url":"https://pokeapi.co/api/v2/ability/65/"},"is_hidden":false,"slot":1},{"ability":{"name":"chlorophyll","url":"https://pokeapi.co/api/v2/ability/34/"},"is_hidden":true,"slot":3}],"base_experience":263,"cries":{"latest":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/3.ogg","legacy":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/legacy/3.ogg"},"forms":[{"name":"venusaur","url":"https://pokeapi.co/api/v2/pokemon-form/3/"}],"game_indices":[{"game_index":154,"version":{"name":"red","url":"https://pokeapi.co/api/v2/version/1/"}},{"game_index":154,"version":{"name":"blue","url":"https://pokeapi.co/api/v2/version/2/"}},{"game_index":154,"version":{"name":"yellow","url":"https://pokeapi.co/api/v2/version/3/"}},{"game_index":3,"version":{"name":"gold","url":"https://pokeapi.co/api/v2/version/4/"}},{"game_index":3,"version":{"name":"silver","url":"https://pokeapi.co/api/v2/version/5/"}},{"game_index":3,"version":{"name":"crystal","url":"https://pokeapi.co/api/v2/ve[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/3/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"79d9-q98v/7TjIz5eFvKcsV0xwZ7g8r8"
      Function-Execution-Id:
      - 9tslb9xmjb69
      X-Cloud-Trace-Context:
      - cd05b3c4aa83139376133f6579e20021
      X-Country-Code:
      - US
      X-Orig-[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/venusaur-mega
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11505-18wITgAcqZ3j57f/amItew35O20"
      Function-Execution-Id:
      - 6i3qeihajb7u
      X-Cloud-Trace-Context:
      - 2681fe3ba017e63dc288311cfb5ce843
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - en-US,en;q=0.9,pt;q=0.8
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"thick-fat","url":"https://pokeapi.co/api/v2/ability/47/"},"is_hidden":false,"slot":1}],"base_experience":281,"cries":{"latest":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/10033.ogg","legacy":null},"forms":[{"name":"venusaur-mega","url":"https://pokeapi.co/api/v2/pokemon-form/10133/"}],"game_indices":[],"height":24,"held_items":[],"id":10033,"is_default":false,"location_area_encounters":"https://pokeapi.co/api/v2/pokemon/10033/encounters","moves":[{"move":{"name":"swords-dance","url":"https://pokeapi.co/api/v2/move/14/"},"version_group_details":[{"level_learned_at":0,"move_learn_method":{"name":"machine","url":"https://pokeapi.co/api/v2/move-learn-method/4/"},"version_group":{"name":"x-y","url":"https://pokeapi.co/api/v2/version-group/15/"}},{"level_learned_at":0,"move_learn_method":{"name":"machine","url":"https://pokeapi.co/api/v2/move-learn-method/4/"},"version_group":{"name":"omega-ruby-alpha-sapphire","url":"https://pokeapi.co/api/v2/version-group/16/"}},{"level_learned_at":0,"move_learn_method":{"name":"machine","url":"https://pokeapi.co/api/v2/move-learn-method/4/"},"version_group":{"name":"sun-moon","url":"https://pokeapi.co/api/v2/version-group/17/"}},{"lev[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/venusaur-gmax
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"17e7-bTPkJdbgYtEPZ7stHclSkCxsa6Y"
      Function-Execution-Id:
      - vp6a8nhf9lm2
      X-Cloud-Trace-Context:
      - 5d8785a4f4568763f595b29d853f1e02
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - "*"
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"overgrow","url":"https://pokeapi.co/api/v2/ability/65/"},"is_hidden":false,"slot":1},{"ability":{"name":"chlorophyll","url":"https://pokeapi.co/api/v2/ability/34/"},"is_hidden":true,"slot":3}],"base_experience":236,"cries":{"latest":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/10195.ogg","legacy":null},"forms":[{"name":"venusaur-gmax","url":"https://pokeapi.co/api/v2/pokemon-form/10364/"}],"game_indices":[],"height":240,"held_items":[],"id":10195,"is_default":false,"location_area_encounters":"https://pokeapi.co/api/v2/pokemon/10195/encounters","moves":[],"name":"venusaur-gmax","order":-1,"past_abilities":[],"past_types":[],"species":{"name":"venusaur","url":"https://pokeapi.co/api/v2/pokemon-species/3/"},"sprites":{"back_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/10195.png","back_female":null,"back_shiny":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/shiny/10195.png","back_shiny_female":null,"front_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/10195.png","front_female":null,"front_shiny":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/10195.png","front_shiny_female":null,"other":{"dream_world":{"front_default":null,"front_female":null},"home":{"front_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/10195.png","front_female":null,"front_shiny":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/shiny/10195.png","front_shiny_female":null},"official-artwork":{"front_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/10195.png","front_shiny":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/shiny/10195.png"},"showdown":{"back_default":null,"back_female":null,"back_shiny":null,"back_shiny_female":null,"front_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/10195.gif","front_female":null,"front_shiny":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/shiny/10195.gif","front_shiny_female":null}},"versions":{"generation-i":{"red-blue":{"back_default":null,"back_gray":null,"back_transparent":null,"front_default":null,"front_gray":null,"front_transparent":null},"yellow":{"back_default":null,"back_gray":null,"back_transparent":null,"front_default":null,"front_gray":null,"front_transparent":null}},"generation-ii":{"crystal":{"back_default":null,"back_shiny":null,"back_shiny_transparent":null,"back_transparent":null,"front_default":null,"front_shiny":null,"front_shiny_transparent":null,"front_transparent":null},"gold":{"back_default":null,"back_shiny":null,"front_default":null,"front_shiny":null,"front_transparent":null},"silver":{"back_default":null,"back_shiny":null,"front_default":null,"front_shiny":null,"front_transparent":null}},"generation-iii":{"emerald":{"front_default":null,"front_shiny":null},"firered-leafgreen":{"back_default":null,"back_shiny":null,"front_default":null,"front_shiny":null},"ruby-sapphire":{"back_default":null,"back_shiny":null,"front_default":null,"front_shiny":null}},"generation-iv":{"diamond-pearl":{"back_default":null,"back_female":null,"back_shiny":null,"back_shiny_female":null,"front_default":null,"front_female":null,"front_shiny":null,"front_shiny_female":null},"heartgold-soulsilver":{"back_default":null,"back_female":null,"back_shiny":null,"back_shiny_female":null,"front_default":null,"front_female":null,"front_shiny":null,"front_shiny_female":null},"platinum":{"back_default":null,"back_female":null,"back_shiny":null,"back_shiny_female":null,"front_default":null,"front_female":null,"front_shiny":null,"front_shiny_female":null}},"generation-v":{"black-white":{"animated":{"back_default":null,"back_female":null,"back_shiny":null,"back_shiny_female":null,"front_default":null,"front_female":null,"front_shiny":null,"front_shiny_female":null},"back_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/back/10195.png","back_female":null,"back_shiny":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/back/shiny/10195.png","back_shiny_female":null,"front_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/10195.png","front_female":null,"front_shiny":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/shiny/10195.png","front_shiny_female":null}},"generation-vi":{"omegaruby-alphasapphire":{"front_default":null,"front_female":null,"front_shiny":null,"front_shiny_female":null},"x-y":{"front_default":null,"front_female":null,"front_shiny":null,"front_shiny_female":null}},"generation-vii":{"icons":{"front_default":null,"front_female":null},"ultra-sun-ultra-moon":{"front_default":null,"front_female":null,"front_shiny":null,"front_shiny_female":null}},"generation-viii":{"icons":{"front_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-viii/icons/3-gmax.png","front_female":null}}}},"stats":[{"base_stat":80,"effort":0,"stat":{"name":"hp","url":"https://pokeapi.co/api/v2/stat/1/"}},{"base_stat":82,"effort":0,"stat":{"name":"attack","url":"https://pokeapi.co/api/v2/stat/2/"}},{"base_stat":83,"effort":0,"stat":{"name":"defense","url":"https://pokeapi.co/api/v2/stat/3/"}},{"base_stat":100,"effort":2,"stat":{"name":"special-attack","url":"https://pokeapi.co/api/v2/stat/4/"}},{"base_stat":100,"effort":1,"stat":{"name":"special-defense","url":"https://pokeapi.co/api/v2/stat/5/"}},{"base_stat":80,"effort":0,"stat":{"name":"speed","url":"https://pokeapi.co/api/v2/stat/6/"}}],"types":[{"slot":1,"type":{"name":"grass","url":"https://pokeapi.co/api/v2/type/12/"}},{"slot":2,"type":{"name":"poison","url":"https://pokeapi.co/api/v2/type/4/"}}],"weight":10000}'
  recorded_at: Sun, 07 Apr 2024 05:16:39 GMT
recorded_with: VCR 6.2.0
