---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3ba52-0eqwu9QJV2LgwDuB/BKw4elFJho"
      X-Country-Code:
      - US
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"overgrow","url":"https://pokeapi.co/api/v2/ability/65/"},"is_hidden":false,"slot":1},{"ability":{"name":"chlorophyll","url":"https://pokeapi.co/api/v2/ability/34/"},"is_hidden":true,"slot":3}],"base_experience":64,"cries":{"latest":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/1.ogg","legacy":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/legacy/1.ogg"},"forms":[{"name":"bulbasaur","url":"https://pokeapi.co/api/v2/pokemon-form/1/"}],"game_indices":[{"game_index":153,"version":{"name":"red","url":"https://pokeapi.co/api/v2/version/1/"}},{"game_index":153,"version":{"name":"blue","url":"https://pokeapi.co/api/v2/version/2/"}},{"game_index":153,"version":{"name":"yellow","url":"https://pokeapi.co/api/v2/version/3/"}},{"game_index":1,"version":{"name":"gold","url":"https://pokeapi.co/api/v2/version/4/"}},{"game_index":1,"version":{"name":"silver","url":"https://pokeapi.co/api/v2/version/5/"}},{"game_index":1,"version":{"name":"crystal","url":"https://pokeapi.co/api/v2/ve[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/1/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7724-/k5JzaU8lvKp7tK2xZzE9NwSqv4"
      X-Country-Code:
      - US
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJiYXNlX2hhcHBpbmVzcyI6NTAsImNhcHR1cmVfcmF0ZSI6NDUsImNvbG9yIjp[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/evolution-chain/1/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"519-mKqcmr+9AYQMpKJR7ibewJifciM"
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - en-US,en;q=0.9
    body:
      encoding: ASCII-8BIT
      string: '{"baby_trigger_item":null,"chain":{"evolution_details":[],"evolves_to":[{"evolution_details":[{"gender":null,"held_item":null,"item":null,"known_move":null,"known_move_type":null,"location":null,"min_affection":null,"min_beauty":null,"min_happiness":null,"min_level":16,"needs_overworld_rain":false,"party_species":null,"party_type":null,"relative_physical_stats":null,"time_of_day":"","trade_species":null,"trigger":{"name":"level-up","url":"https://pokeapi.co/api/v2/evolution-trigger/1/"},"turn_upside_down":false}],"evolves_to":[{"evolution_details":[{"gender":null,"held_item":null,"item":null,"known_move":null,"known_move_type":null,"location":null,"min_affection":null,"min_beauty":null,"min_happiness":null,"min_level":32,"needs_overworld_rain":false,"party_species":null,"party_type":null,"relative_physical_stats":null,"time_of_day":"","trade_species":null,"trigger":{"name":"level-up","url":"https://pokeapi.co/api/v2/evolution-trigger/1/"},"turn_upside_down":false}],"evolves_to":[],"is_baby":false,"species":{"name":"venusaur","url":"https://pokeapi.co/api/v2/pokemon-species/3/"}}],"is_baby":false,"species":{"name":"ivysaur","url":"https://pokeapi.co/api/v2/pokemon-species/2/"}}],"is_baby":false,"species":{"name":"bulbasaur","url":"https://pokeapi.co/api/v2/pokemon-species/1/"}},"id":1}'
  recorded_at: Sun, 04 Aug 2024 12:47:09 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/bulbasaur
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7724-/k5JzaU8lvKp7tK2xZzE9NwSqv4"
      X-Country-Code:
      - US
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJiYXNlX2hhcHBpbmVzcyI6NTAsImNhcHR1cmVfcmF0ZSI6NDUsImNv[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/ivysaur
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7ca1-Bi6CCe57Dxr2W0ErptCkPALgyPk"
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - nl-NL,nl;q=0.9,en-US;q=0.8,en;q=0.7
    body:
      encoding: ASCII-8BIT
      string: !bi[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/venusaur
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"79d9-q98v/7TjIz5eFvKcsV0xwZ7g8r8"
      X-Country-Code:
      - US
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJiYXNlX2hhcHBpbmVzcyI6NTAsImNhcHR1cmVfcmF0ZSI6NDUsImNvb[...]
