---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/region/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"299-5lUInATXOutXFXM5koFVyxB/kYQ"
      Function-Execution-Id:
      - s66uasu62bbo
      X-Cloud-Trace-Context:
      - 04c8fc959f789a641c5bd800e092f760
      X-Country-Code:
      - US
    body:
      encoding: ASCII-8BIT
      string: '{"count":10,"next":null,"previous":null,"results":[{"name":"kanto","url":"https://pokeapi.co/api/v2/region/1/"},{"name":"johto","url":"https://pokeapi.co/api/v2/region/2/"},{"name":"hoenn","url":"https://pokeapi.co/api/v2/region/3/"},{"name":"sinnoh","url":"https://pokeapi.co/api/v2/region/4/"},{"name":"unova","url":"https://pokeapi.co/api/v2/region/5/"},{"name":"kalos","url":"https://pokeapi.co/api/v2/region/6/"},{"name":"alola","url":"https://pokeapi.co/api/v2/region/7/"},{"name":"galar","url":"https://pokeapi.co/api/v2/region/8/"},{"name":"hisui","url":"https://pokeapi.co/api/v2/region/9/"},{"name":"paldea","url":"https://pokeapi.co/api/v2/region/10/"}]}'
  recorded_at: Fri, 23 Feb 2024 07:48:03 GMT
recorded_with: VCR 6.2.0
