---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3be93-vzEW4rh4qFMqcN5ASok8hpC/HwE"
      Function-Execution-Id:
      - vp6ayxcxehmk
      X-Cloud-Trace-Context:
      - bd32bbf98013e626e85f6a2c1e70b591
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - en-US,en;q=0.9
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"static","url":"https://pokeapi.co/api/v2/ability/9/"},"is_hidden":false,"slot":1},{"ability":{"name":"lightning-rod","url":"https://pokeapi.co/api/v2/ability/31/"},"is_hidden":true,"slot":3}],"base_experience":112,"cries":{"latest":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/25.ogg","legacy":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/legacy/25.ogg"},"forms":[{"name":"pikachu","url":"https://pokeapi.co/api/v2/pokemon-form/25/"}],"game_indices":[{"game_index":84,"version":{"name":"red","url":"https://pokeapi.co/api/v2/version/1/"}},{"game_index":84,"version":{"name":"blue","url":"https://pokeapi.co/api/v2/version/2/"}},{"game_index":84,"version":{"name":"yellow","url":"https://pokeapi.co/api/v2/version/3/"}},{"game_index":25,"version":{"name":"gold","url":"https://pokeapi.co/api/v2/version/4/"}},{"game_index":25,"version":{"name":"silver","url":"https://pokeapi.co/api/v2/version/5/"}},{"game_index":25,"version":{"name":"crystal","url":"https://pokeapi.co/api/v2/v[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/25/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b681-A8zr55wY5BrCPEAkCJf9dPqbCA8"
      Function-Execution-Id:
      - qlvd1khf9tey
      X-Cloud-Trace-Context:
      - dde2be8a79fbf923074ede8026e7e851
      X-Country-Code:
      - US
      X-Orig[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/ability/9/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5cba-9vPJtA4I+oNi2e338TSja04nEAE"
      Function-Execution-Id:
      - vz6wn6em6kp0
      X-Cloud-Trace-Context:
      - 81aa65fea37f868e4c0b8188eea02730;o=1
      X-Country-Code:
      - US
      X-Orig-Acce[...]
[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/type/electric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3e61-/zDYq7tyDTjUGq1TIf63uyvVU98"
      Function-Execution-Id:
      - gi8cfip0kj0x
      X-Cloud-Trace-Context:
      - f58b157dde8c13adca915897ac7fe35e;o=1
      X-Country-Code:
      - US
      X-Orig-A[...]
