---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/82
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"37703-jwBxs1PbJ4PD02pVhAVJgi6p0iU"
      Function-Execution-Id:
      - j3c26og5p08e
      X-Cloud-Trace-Context:
      - 3eebd508072a55034dba98314ccdc9cd;o=1
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"magnet-pull","url":"https://pokeapi.co/api/v2/ability/42/"},"is_hidden":false,"slot":1},{"ability":{"name":"sturdy","url":"https://pokeapi.co/api/v2/ability/5/"},"is_hidden":false,"slot":2},{"ability":{"name":"analytic","url":"https://pokeapi.co/api/v2/ability/148/"},"is_hidden":true,"slot":3}],"base_experience":163,"cries":{"latest":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/82.ogg","legacy":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/legacy/82.ogg"},"forms":[{"name":"magneton","url":"https://pokeapi.co/api/v2/pokemon-form/82/"}],"game_indices":[{"game_index":54,"version":{"name":"red","url":"https://pokeapi.co/api/v2/version/1/"}},{"game_index":54,"version":{"name":"blue","url":"https://pokeapi.co/api/v2/version/2/"}},{"game_index":54,"version":{"name":"yellow","url":"https://pokeapi.co/api/v2/version/3/"}},{"game_index":82,"version":{"name":"gold","url":"https://pokeapi.co/api/v2/version/4/"}},{"game_index":82,"version":{"name":"silver","url":"https://pokeapi.co/api/v2/version/5/"}},{"game_index":82,"version":{"name":"crystal","url":"https://pokeapi.co/api/v2/v[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/82/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ad88-f321jKgx0km+UYEy8Rvy/YhBYjU"
      Function-Execution-Id:
      - wa5ytwgi9y2f
      X-Cloud-Trace-Context:
      - 864892e318f5deb9d0973a379bc786a3
      X-Country-Code:
      - US
      X-Orig[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/ability/42/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4ee5-vOreUGSNOrM7NAHT+2aOXuj9fP4"
      Function-Execution-Id:
      - j3c29fgrmbky
      X-Cloud-Trace-Context:
      - 61a500c7c78234886e615e51b46bd858
      X-Country-Code:
      - US
      X-Orig-Accept-[...]
[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/type/electric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3e61-/zDYq7tyDTjUGq1TIf63uyvVU98"
      Function-Execution-Id:
      - gi8cfip0kj0x
      X-Cloud-Trace-Context:
      - f58b157dde8c13adca915897ac7fe35e;o=1
      X-Country-Code:
      - US
      X-Orig-A[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/type/steel
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3c0f-1iG2weizo6oRO8wVM91g/yl5L64"
      Function-Execution-Id:
      - 3utjh8600ii9
      X-Cloud-Trace-Context:
      - 370333da717f482e04699c33cfd15811
      X-Country-Code:
      - US
      X-Orig-Accept-L[...]
