---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/82
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"37703-jwBxs1PbJ4PD02pVhAVJgi6p0iU"
      Function-Execution-Id:
      - j3c26og5p08e
      X-Cloud-Trace-Context:
      - 3eebd508072a55034dba98314ccdc9cd;o=1
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"magnet-pull","url":"https://pokeapi.co/api/v2/ability/42/"},"is_hidden":false,"slot":1},{"ability":{"name":"sturdy","url":"https://pokeapi.co/api/v2/ability/5/"},"is_hidden":false,"slot":2},{"ability":{"name":"analytic","url":"https://pokeapi.co/api/v2/ability/148/"},"is_hidden":true,"slot":3}],"base_experience":163,"cries":{"latest":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/82.ogg","legacy":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/legacy/82.ogg"},"forms":[{"name":"magneton","url":"https://pokeapi.co/api/v2/pokemon-form/82/"}],"game_indices":[{"game_index":54,"version":{"name":"red","url":"https://pokeapi.co/api/v2/version/1/"}},{"game_index":54,"version":{"name":"blue","url":"https://pokeapi.co/api/v2/version/2/"}},{"game_index":54,"version":{"name":"yellow","url":"https://pokeapi.co/api/v2/version/3/"}},{"game_index":82,"version":{"name":"gold","url":"https://pokeapi.co/api/v2/version/4/"}},{"game_index":82,"version":{"name":"silver","url":"https://pokeapi.co/api/v2/version/5/"}},{"game_index":82,"version":{"name":"crystal","url":"https://pokeapi.co/api/v2/v[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/82/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ad88-f321jKgx0km+UYEy8Rvy/YhBYjU"
      Function-Execution-Id:
      - wa5ytwgi9y2f
      X-Cloud-Trace-Context:
      - 864892e318f5deb9d0973a379bc786a3
      X-Country-Code:
      - US
      X-Orig[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/type/electric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3e61-/zDYq7tyDTjUGq1TIf63uyvVU98"
      Function-Execution-Id:
      - gi8cfip0kj0x
      X-Cloud-Trace-Context:
      - f58b157dde8c13adca915897ac7fe35e;o=1
      X-Country-Code:
      - US
      X-Orig-A[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/type/steel
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3c0f-1iG2weizo6oRO8wVM91g/yl5L64"
      Function-Execution-Id:
      - segpuyjsfygk
      X-Cloud-Trace-Context:
      - 768b57d58da81537a7eae0cbf377248c;o=1
      X-Country-Code:
      - US
      X-Orig-Acce[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/evolution-chain/34/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cd5-IHMpG9ihoq/nV3B3LkjIjwUpmaQ"
      Function-Execution-Id:
      - jt08wt307dor
      X-Cloud-Trace-Context:
      - 2f298c59a73dbf121199e5e18ca2f5b0
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"baby_trigger_item":null,"chain":{"evolution_details":[],"evolves_to":[{"evolution_details":[{"gender":null,"held_item":null,"item":null,"known_move":null,"known_move_type":null,"location":null,"min_affection":null,"min_beauty":null,"min_happiness":null,"min_level":30,"needs_overworld_rain":false,"party_species":null,"party_type":null,"relative_physical_stats":null,"time_of_day":"","trade_species":null,"trigger":{"name":"level-up","url":"https://pokeapi.co/api/v2/evolution-trigger/1/"},"turn_upside_down":false}],"evolves_to":[{"evolution_details":[{"gender":null,"held_item":null,"item":null,"known_move":null,"known_move_type":null,"location":{"name":"mt-coronet","url":"https://pokeapi.co/api/v2/location/10/"},"min_affection":null,"min_beauty":null,"min_happiness":null,"min_level":null,"needs_overworld_rain":false,"party_species":null,"party_type":null,"relative_physical_stats":null,"time_of_day":"","trade_species":null,"trigger":{"name":"level-up","url":"https://pokeapi.co/api/v2/evolution-trigg[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/magnemite
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b166-raIQpwpkCCjtbfA+s/0sSC3q7jI"
      Function-Execution-Id:
      - 7iws1szevkh4
      X-Cloud-Trace-Context:
      - d209cd82ed4842a3c13c76f76c22374b;o=1
      X-Country-Code:
      - US
  [...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/magneton
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ad88-f321jKgx0km+UYEy8Rvy/YhBYjU"
      Function-Execution-Id:
      - vp6apqhvsyno
      X-Cloud-Trace-Context:
      - f0fe2711039e9aef2b165c3242da4f05
      X-Country-Code:
      - US
      X[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/magnezone
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8592-h1fS8aXwIf6DX/un7VspVAkwb7M"
      Function-Execution-Id:
      - jt088p88m7vy
      X-Cloud-Trace-Context:
      - 06eb39eb9525cde89917b8be8b21248f
      X-Country-Code:
      - US
      [...]
