---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/128
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d5d2-a5eq2afkqnaC8RH0eMwpazUFUfY"
      Function-Execution-Id:
      - vp6aqffh01aj
      X-Cloud-Trace-Context:
      - 33979d6168d0e1584e3c701424b91079
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - en-US,en;q=0.9
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"intimidate","url":"https://pokeapi.co/api/v2/ability/22/"},"is_hidden":false,"slot":1},{"ability":{"name":"anger-point","url":"https://pokeapi.co/api/v2/ability/83/"},"is_hidden":false,"slot":2},{"ability":{"name":"sheer-force","url":"https://pokeapi.co/api/v2/ability/125/"},"is_hidden":true,"slot":3}],"base_experience":172,"cries":{"latest":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/128.ogg","legacy":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/legacy/128.ogg"},"forms":[{"name":"tauros","url":"https://pokeapi.co/api/v2/pokemon-form/128/"}],"game_indices":[{"game_index":60,"version":{"name":"red","url":"https://pokeapi.co/api/v2/version/1/"}},{"game_index":60,"version":{"name":"blue","url":"https://pokeapi.co/api/v2/version/2/"}},{"game_index":60,"version":{"name":"yellow","url":"https://pokeapi.co/api/v2/version/3/"}},{"game_index":128,"version":{"name":"gold","url":"https://pokeapi.co/api/v2/version/4/"}},{"game_index":128,"version":{"name":"silver","url":"https://pokeapi.co/api/v2/version/5/"}},{"game_index":128,"version":{"name":"crystal","url":"https://pokeapi.co/api/v[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/128/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ac23-Y62PMypK4dbxcbIMfO9dRjQI+4c"
      Function-Execution-Id:
      - 79mvx0g37t90
      X-Cloud-Trace-Context:
      - e8e78761b960a5a779ac21700d182562
      X-Country-Code:
      - US
      X-Ori[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/tauros-paldea-combat-breed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"56e0-hNU0jpjESp5zkU7SX1vu9TLbg40"
      Function-Execution-Id:
      - sb1dgp9n6zvs
      X-Cloud-Trace-Context:
      - d9403051322fef3648f73a632bd5252e
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - en-GB,en-US;q=0.9,en;q=0.8
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"intimidate","url":"https://pokeapi.co/api/v2/ability/22/"},"is_hidden":false,"slot":1},{"ability":{"name":"anger-point","url":"https://pokeapi.co/api/v2/ability/83/"},"is_hidden":false,"slot":2},{"ability":{"name":"cud-chew","url":"https://pokeapi.co/api/v2/ability/291/"},"is_hidden":true,"slot":3}],"base_experience":null,"cries":{"latest":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/10250.ogg","legacy":null},"forms":[{"name":"tauros-paldea-combat-breed","url":"https://pokeapi.co/api/v2/pokemon-form/10419/"}],"game_indices":[],"height":14,"held_items":[],"id":10250,"is_default":false,"location_area_encounters":"https://pokeapi.co/api/v2/pokemon/10250/encounters","moves":[{"move":{"name":"double-kick","url":"https://pokeapi.co/api/v2/move/24/"},"version_group_details":[{"level_learned_at":10,"move_learn_method":{"name":"level-up","url":"https://pokeapi.co/api/v2/move-learn-method/1/"},"version_group":{"name":"scarlet-violet","url":"https://pokeapi.co/api/v2/version-group/25/"}}]},{"move":{"name":"headbutt","url":"https://pokeapi.co/api/v2/move/29/"},"version_group_details":[{"level_learned_at":20,"move_learn_method":{"name":"level-up","url":"https://pokeapi.co/api/v2/move-learn-method/1/"},"version_group":{"name":"scarlet-violet","url":"https://pokeapi.co/api/v2/version-group/25/"}}]},{"move":{"name":"tackle","url":"https://pokeapi.co/api/v2/move/33/"},"version_group_details":[{"level_learne[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/tauros-paldea-blaze-breed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5e1f-oYp5/20IERalrLGbyodlooZ8G3o"
      Function-Execution-Id:
      - ewdnxxafh3tl
      X-Cloud-Trace-Context:
      - a1e76245fc3244936ee12377b153287f
      X-Country-Code:
      - U[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/tauros-paldea-aqua-breed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5b3a-2Z+05oMtzh6E7Bem4jTnClqm8no"
      Function-Execution-Id:
      - 9lo78dfv5zka
      X-Cloud-Trace-Context:
      - a91cc847dac9d678ed4be269e613a28a
      X-Country-Code:
      - US[...]
