---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/195
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3bbb1-Uws4krxAXKChxdtcocwRuQt1Jb4"
      Function-Execution-Id:
      - vp6afzj8pmfg
      X-Cloud-Trace-Context:
      - 907d17824e0ca5244d2101f7d637cb9f
      X-Country-Code:
      - US
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"damp","url":"https://pokeapi.co/api/v2/ability/6/"},"is_hidden":false,"slot":1},{"ability":{"name":"water-absorb","url":"https://pokeapi.co/api/v2/ability/11/"},"is_hidden":false,"slot":2},{"ability":{"name":"unaware","url":"https://pokeapi.co/api/v2/ability/109/"},"is_hidden":true,"slot":3}],"base_experience":151,"cries":{"latest":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/195.ogg","legacy":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/legacy/195.ogg"},"forms":[{"name":"quagsire","url":"https://pokeapi.co/api/v2/pokemon-form/195/"}],"game_indices":[{"game_index":195,"version":{"name":"gold","url":"https://pokeapi.co/api/v2/version/4/"}},{"game_index":195,"version":{"name":"silver","url":"https://pokeapi.co/api/v2/version/5/"}},{"game_index":195,"version":{"name":"crystal","url":"https://pokeapi.co/api/v2/version/6/"}},{"game_index":195,"version":{"name":"ruby","url":"https://pokeapi.co/api/v2/version/7/"}},{"game_index":195,"version":{"name":"sapphire","url":"https://pokeapi.co/api/v2/version/8/"}},{"game_index":195,"version":{"name":"emerald","url":"https://pokeapi.[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/195/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6335-qpAryhjr+Hs5KIUrMgvCYUPFDT0"
      Function-Execution-Id:
      - 0v5fojyyru67
      X-Cloud-Trace-Context:
      - 6ab869fe9e9378de8915a7fd1697b04a
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - zh-CN,zh;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJiYXNlX2hhcHBpbmVzcyI6NTAsImNhcHR1cmVfcmF0ZSI6OTAsImNvbG9yIjp7Im5hbWUiOiJibHVlIiwidXJsIjoiaHR0cHM6Ly9wb2tlYXBpLmNvL2FwaS92Mi9wb2tlbW9uLWNvbG9yLzIvIn0sImVnZ19ncm91cHMiOlt7Im5hbWUiOiJ3YXRlcjEiLCJ1cmwiOiJodHRwczovL3Bva2VhcGkuY28vYXBpL3YyL2VnZy1ncm91cC8yLyJ9LHsibmFtZSI6Imdyb3VuZCIsInVybCI6Imh0dHBzOi8vcG9rZWFwaS5jby9hcGkvdjIvZWdnLWdyb3VwLzUvIn1dLCJldm9sdXRpb25fY2hhaW4iOnsid[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/ability/6/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"54ba-e2/iJ6VdSS2FlcpsBeF5TLlVScE"
      Function-Execution-Id:
      - 79mvb64788a7
      X-Cloud-Trace-Context:
      - 43afc1403b67d07f6d4f4ad1e55923a6
      X-Country-Code:
      - US
      X-Orig-Accept-L[...]
[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/type/water
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5813-2h8aCThUBRhMaEaC+2/vJxd0NfQ"
      Function-Execution-Id:
      - l0d9654ytjps
      X-Cloud-Trace-Context:
      - 2c0ec7f9fe1ba2e5c4450044f625d6ab
      X-Country-Code:
      - US
      X-Orig-Accept-L[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/type/ground
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3385-ShpEHwVQ9Xy0F8F85jSDU8FnUkQ"
      Function-Execution-Id:
      - qkxp46xmdala
      X-Cloud-Trace-Context:
      - 183e6939d4567da0c89e666992b4502a;o=1
      X-Country-Code:
      - US
      X-Orig-Acc[...]
