---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3be93-vzEW4rh4qFMqcN5ASok8hpC/HwE"
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - ko-KR,ko;q=0.9
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"static","url":"https://pokeapi.co/api/v2/ability/9/"},"is_hidden":false,"slot":1},{"ability":{"name":"lightning-rod","url":"https://pokeapi.co/api/v2/ability/31/"},"is_hidden":true,"slot":3}],"base_experience":112,"cries":{"latest":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/25.ogg","legacy":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/legacy/25.ogg"},"forms":[{"name":"pikachu","url":"https://pokeapi.co/api/v2/pokemon-form/25/"}],"game_indices":[{"game_index":84,"version":{"name":"red","url":"https://pokeapi.co/api/v2/version/1/"}},{"game_index":84,"version":{"name":"blue","url":"https://pokeapi.co/api/v2/version/2/"}},{"game_index":84,"version":{"name":"yellow","url":"https://pokeapi.co/api/v2/version/3/"}},{"game_index":25,"version":{"name":"gold","url":"https://pokeapi.co/api/v2/version/4/"}},{"game_index":25,"version":{"name":"silver","url":"https://pokeapi.co/api/v2/version/5/"}},{"game_index":25,"version":{"name":"crystal","url":"https://pokeapi.co/api/v2/v[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/25/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b681-A8zr55wY5BrCPEAkCJf9dPqbCA8"
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - ko-KR,ko;q=0.9
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJiYXNlX[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/evolution-chain/10/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"559-2taRRAtfqBGc+jFudfcEtnFsOA8"
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - fr-FR,fr;q=0.9,en-US;q=0.8,en;q=0.7
    body:
      encoding: ASCII-8BIT
      string: '{"baby_trigger_item":null,"chain":{"evolution_details":[],"evolves_to":[{"evolution_details":[{"gender":null,"held_item":null,"item":null,"known_move":null,"known_move_type":null,"location":null,"min_affection":null,"min_beauty":null,"min_happiness":220,"min_level":null,"needs_overworld_rain":false,"party_species":null,"party_type":null,"relative_physical_stats":null,"time_of_day":"","trade_species":null,"trigger":{"name":"level-up","url":"https://pokeapi.co/api/v2/evolution-trigger/1/"},"turn_upside_down":false}],"evolves_to":[{"evolution_details":[{"gender":null,"held_item":null,"item":{"name":"thunder-stone","url":"https://pokeapi.co/api/v2/item/83/"},"known_move":null,"known_move_type":null,"location":null,"min_affection":null,"min_beauty":null,"min_happiness":null,"min_level":null,"needs_overworld_rain":false,"party_species":null,"party_type":null,"relative_physical_stats":null,"time_of_day":"","trade_species":null,"trigger":{"name":"use-item","url":"https://pokeapi.co/api/v2/evolution-trigger/3/"},"turn_upside_down":false}],"evolves_to":[],"is_baby":false,"species":{"name":"raichu","url":"https://pokeapi.co/api/v2/pokemon-species/26/"}}],"is_baby":false,"species":{"name":"pikachu","url":"https://pokeapi.co/api/v2/pokemon-species/25/"}}],"is_baby":true,"species":{"name":"pichu","url":"https://pokeapi.co/api/v2/pokemon-species/172/"}},"id":10}'
  recorded_at: Sun, 04 Aug 2024 12:47:00 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/pichu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"94e7-DsEvmnWE6ds/YYQQlvkPAw6CXAE"
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7,es;q=0.6
    body:
      encoding: ASCII-8BIT
      stri[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/pikachu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b681-A8zr55wY5BrCPEAkCJf9dPqbCA8"
      X-Country-Code:
      - US
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJiYXNlX2hhcHBpbmVzcyI6NTAsImNhcHR1cmVfcmF0ZSI6MTkwLCJjb2[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/raichu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"abdb-J9YJfVX7fUoUyGi9I3Zgwco4Q2k"
      X-Country-Code:
      - US
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJiYXNlX2hhcHBpbmVzcyI6NTAsImNhcHR1cmVfcmF0ZSI6NzUsImNvbG9[...]
